<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Concierge : @ViewBag.Title</title>
  <environment names="Development">
      <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
      <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
      <link href="~/css/site.css" rel="stylesheet" />
  </environment>

  <environment names="Staging,Production">
      <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
      <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
      <link href="~/css/site.css" rel="stylesheet" />
  </environment>

</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @*<div class="container-fluid">*@
            <a class="navbar-brand" href="#"><i class="fas fa-concierge-bell"></i> Concierge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="Reserve">Reserve</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="About">About</a>
                        </li>
                       @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        }
                    </ul>
                </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">
            <a href="https://assistant.google.com/services/invoke/uid/000000cf6a32265c?hl=en">
                🅖 Ask Concierge to reserve restaurant or tickets
            </a>
        </h2>
        <iframe src="~/voice_button/index.html" title="blabla" width="100%"></iframe>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">Copyright 2021 Concierge LLC</div>
        
    </footer>
  <!-- javascript generally has stuff that manipulates contents on the website. hence load it towards the end of the page. -->
  <environment names="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  </environment>
  <environment names="Staging,Production">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
      <script data-ad-client="ca-pub-6734923488579203" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </environment>
  @* scripts section is not required. if one of the pages creates a section called scripts, then put it here in the layout page

  *@
  @RenderSection("scripts", false)
</body>
</html>
