@{
    ViewBag.Title = "ZUZU";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<ul id="rig">
    <li>
        <a class="rig-cell" href="Reserve">
            <img class="rig-img" src="~/img/ewstaurants.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Restaurants</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/SK-A-2344.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Market</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/delivery.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Delivery</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/ticket.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Tickets</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/hotels.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hotels</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/Flights.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Flights</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/SK-A-2860.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Craftsmen</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="~/img/SK-A-3982.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Doctors</span>
        </a>
    </li>
</ul>